{% extends 'base.html' %}

{% block title %}
    Reset your Password
{% endblock %}

{% block content %}
    <h1>Reset your Password</h1>
    {% if validlink %}
        <p>Please enter the new password</p>

        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"></p>
        </form>

    {% else %}
        <p>The password reset link was invalid, passibly because it has already been user. Try again by requesting</p>

    {% endif %}
{% endblock %}
